<template>
  <div>
    <b-row>
      <b-col md="12" class="pb-3 d-flex justify-content-end">
        <el-button type="danger" @click="testAction('downloadFormFile')">Tải Phiếu Trả Lời Trắc Nghiệm</el-button>
        <el-button type="danger" @click="testAction('new')">Thêm Mới Bài Kiểm Tra</el-button>
      </b-col>
      <b-col md="12">
        <el-table v-loading="isLoadingForm" :data="dataTableTests" border stripe max-height="550" style="width: 100%;">
          <el-table-column property="index" align="center" label="STT" width="70"></el-table-column>
          <el-table-column property="code" align="center" label="Mã Đề Thi"></el-table-column>
          <el-table-column property="subject" align="center" label="Môn Thi"></el-table-column>
          <el-table-column property="testDay" align="center" label="Ngày Thi">
            <template slot-scope="scope">
              <div>{{formatDate(scope.row.testDay)}}</div>
            </template>
          </el-table-column>
          <el-table-column width="250" label="Thao tác" align="center">
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="testAction('view', scope.row.id)"
                v-b-tooltip.hover.left
                title="Chi tiết"
              >
                <i class="fa fa-eye"></i>
              </el-button>
              <el-button
                size="mini"
                v-b-tooltip.hover.right
                @click="testAction('edit', scope.row.id)"
                title="Chỉnh sửa"
              >
                <i class="fas fa-pencil-alt"></i>
              </el-button>
              <el-button
                size="mini"
                v-b-tooltip.hover.left
                @click="testAction('delete', scope.row.id)"
                title="Xóa"
              >
                <i class="fas fa-trash"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts" src="./TestListPage.ts"/>
