<template>
  <router-view/>
</template>

<style lang="scss">
  @import "assets/scss/valiables";
  @import "assets/scss/custom";
  @import "assets/scss/layout";
  @import "../node_modules/@coreui/coreui/scss/coreui";
  @import "../node_modules/@coreui/icons/css/all.min.css";
  @import "../node_modules/nprogress/nprogress.css";
  @import "../node_modules/element-ui/lib/theme-chalk/index.css";
  @import "~toastr";
  @import "~@fortawesome/fontawesome-free/css/all.css";
</style>
