<template>
  <div>
    <b-row>
      <b-col md="12" class="pb-3 d-flex justify-content-end">
        <el-button type="danger" @click="onOpenFromClicked">Thêm phòng học mới</el-button>
      </b-col>
      <b-col md="12">
        <el-table v-loading="isLoading" :data="dataTableClassrooms" border stripe max-height="550" style="width: 100%;">
          <el-table-column property="index" align="center" label="STT" width="70"></el-table-column>
          <el-table-column property="name" align="center" label="Tên Lớp"></el-table-column>
          <el-table-column property="school.name" align="center" label="Tên Trường"></el-table-column>
          <el-table-column width="250" label="Thao tác" align="center">
            <template slot-scope="scope">
              <el-button
                size="mini"
                v-b-tooltip.hover.right
                @click="classroomAction('edit', scope.row.id)"
                title="Chỉnh sửa"
              >
                <i class="fas fa-pencil-alt"></i>
              </el-button>
              <el-button
                size="mini"
                v-b-tooltip.hover.left
                @click="classroomAction('delete', scope.row.id)"
                title="Xóa"
              >
                <i class="fas fa-trash"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </b-col>
    </b-row>
    <el-dialog
      :title="classroomActionName"
      :visible.sync="classroomDialogVisible"
      width="40%">
      <b-row>
        <b-col md="12">
          <el-form
            :model="classroomModel"
            :rules="classroomValidate"
            ref="classroomForm"
            label-width="100%"
            label-position="top"
            v-loading.fullscreen.lock="isLoadingForm"
            @submit.native.prevent
          >
            <b-row class="d-flex justify-content-center">
              <b-col md="12">
                <b-row class="d-flex justify-content-center">
                  <b-col md="12">
                    <el-form-item label="Tên lớp" prop="name">
                      <el-input :disabled="classroomActionType === 'view'" v-model="classroomModel.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Trường" prop="name">
                      <el-select class="w-100" v-model="classroomModel.school" placeholder="Select" reserve-keyword value-key="id">
                        <el-option
                          v-for="item in schools"
                          :key="item.id"
                          :label="item.name"
                          :value="item">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </el-form>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="onCancelClicked">Hủy bỏ</el-button>
        <el-button type="danger" @click="onCreateClassroomClicked">Xác nhận</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script lang="ts" src="./ClassroomListPage.ts"/>
