body{
  margin: 0;
  padding: 0;
  .card {
    border: 0;
  }
  #register-page {
    &::after {
      background-image: url("/src/assets/logo.png");
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.15;
      z-index: -1;

    }
  }
  #register-page {
    background-color: #1b926c;
    .container {
    }
  }
  .bg-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #9d9d9d !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .el-form-item__label {
    color: black;
    font-weight: 500;
  }
  #login_id .el-form-item__label {
    font-weight: 400;
  }
}

