<template>
  <div class="app flex-row align-items-center" id="register-page">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <h3 class="text-center">Đăng kí</h3>
                <el-form
                  :model="user"
                  :rules="userValid"
                  ref="formRegister"
                  label-width="100%"
                  label-position="top"
                  @submit.native.prevent
                >
                  <el-form-item label="Họ" prop="lastName">
                    <el-input
                      prefix-icon="el-icon-user"
                      v-model="user.lastName"
                      clearable
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Tên chính" prop="firstName">
                    <el-input
                      prefix-icon="el-icon-user"
                      v-model="user.firstName"
                      clearable
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Giới tính" prop="gender">
                    <el-radio-group v-model="user.gender">
                      <el-radio :label="true">Nam</el-radio>
                      <el-radio :label="false">Nữ</el-radio>
                    </el-radio-group>
                  </el-form-item>
                  <el-form-item label="Email" prop="email">
                    <el-input
                      prefix-icon="el-icon-s-promotion"
                      v-model="user.email"
                      clearable
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Số điện thoại" prop="phoneNumber">
                    <el-input
                      prefix-icon="el-icon-phone"
                      v-model="user.phoneNumber"
                      clearable
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Mật khẩu" prop="password">
                    <el-input
                      prefix-icon="el-icon-unlock"
                      v-model.trim="user.password"
                      show-password
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="Nhắc lại mật khẩu" class="add-star-red" :error="invalidPassword ? 'Không chính xác!' : ''">
                    <el-input
                      prefix-icon="el-icon-unlock"
                      v-model.trim="confirmPassword"
                      @change="onChangeValidateConfirmPassword"
                      show-password
                    ></el-input>
                  </el-form-item>
                  <el-form-item class="text-center">
                    <el-button class="ladda-button"
                               type="primary"
                               @click="onClickToRegister"
                               native-type="submit"
                               v-loading="isLoading"
                    >Đăng kí
                    </el-button>
                  </el-form-item>
                </el-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script lang="ts" src="./Register.ts"/>
<lang type="scss" src="./Register.scss"/>
