@import "../../../assets/scss/valiables";

.c-header {
  background: none;
  border-bottom: 1px solid #1e2c3a;

  .header-icon {
    height: $header-icon-bar-height;
  }

  .c-subheader {
    margin-top: 0;
    border-top: 0;

    .mobile-menu {
      padding-left: 14px;
      cursor: pointer;
      @media only screen and (max-width: 768px) {
      }
      @media only screen and (min-width: 768px) {
        display: none !important;
      }

      .icon-toggle-menu {
        font-size: 25px;
        color: #f0f3f5;
      }
    }

    .logo-image {
      @media only screen and (min-width: 768px) {
        padding-left: 14px;
      }
    }

    .header-menu {
      display: flex;
      justify-content: space-around;

      .link-active {
        background: #2f4050;

        .c-header-nav-link {
          color: white;
        }
      }
    }

    .c-header-nav {
      right: 0;

      .c-header-nav-item {
        height: auto;
        display: flex;
        border-radius: 8px;
        justify-content: center;
        align-items: center;

        a {
          padding: 8px 10px;
          height: 100%;
          font-weight: 400;
        }
      }
    }

    div .logo-header {
      height: 40px;
      left: 40%;
    }

    .c-avatar {
      width: 40px;
      height: 40px;
      .c-avatar-img {
        height: 100%!important;
      }
    }

    .dropdown-menu {
      box-shadow: 1px 5px 5px #ccc;
      width: 280px;
      border: 0;
      top: $header-icon-bar-height;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.background-header-acc-dropdown {
  background-color: #2f4050;
}

.mobile-menu-content {
  width: 55%;
  top: $header-icon-bar-height;
  height: calc(100vh - #{$header-icon-bar-height});
  max-height: calc(100vh - #{$header-icon-bar-height});
  z-index: 99999;
  position: fixed;
  background: #2f4050;
  @media only screen and (min-width: 768px) {
    display: none !important;
  }

  .list-nav {
    color: #f0f3f5;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;

    li {
      list-style-type: none;
    }
    .item-nav {
      text-decoration: none;
      padding: 10px;
      display: block;
      color: #f0f3f5 !important;
      -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      font-weight: 500;

      .nav-icon {
        display: inline-block;
        width: 1.09375rem;
        margin: 0 5px 0 0;
        font-size: .875rem;
        color: #73818f;
        text-align: center;
      }
    }
  }
}

.background-close {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 999;
  top: $header-icon-bar-height;
  height: calc(100vh - #{$header-icon-bar-height});
  max-height: calc(100vh - #{$header-icon-bar-height});
  background-color: rgba(0, 0, 0, 0.6);
}

.navigation-active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}

.main-container {
  height: calc(100vh - #{$header-icon-bar-height + $header-icon-bar-border-bottom});
  max-height: calc(100vh - #{$header-icon-bar-height + $header-icon-bar-border-bottom});
  display: flex;

  .navigation-list {
    width: 15%;
    background: #2f4050;
    height: 100%;
    @media only screen and (max-width: 768px) {
      display: none;
    }
    @media only screen and (min-width: 768px) {
    }

    ul {
      padding: 0;

      li {
        list-style-type: none;
      }

      .item-nav {
        text-decoration: none;
        padding: 10px;
        display: block;
        color: #f0f3f5 !important;
        -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        font-weight: 500;

        .nav-icon {
          display: inline-block;
          width: 1.09375rem;
          margin: 0 5px 0 0;
          font-size: .875rem;
          color: #73818f;
          text-align: center;
        }
      }
    }
  }

  .main-content {
    height: 100%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    @media only screen and (min-width: 768px) {
      width: 85%;
    }

    .custom-card {
      height: 100%;
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;

      .card-header {
        height: $card-header-custom;
        max-height: $card-header-custom;
        padding: 0 !important;

        .header-content {
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 14px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.main-content {
  width: 100%;
  overflow: hidden;
  .card {
    margin: 0;
    .card-header {
      height: $header-icon-bar-height;
    }
    #body-content {
      padding: 0;
      height: calc(100vh - #{$header-icon-bar-height + $header-icon-bar-border-bottom});
      max-height: calc(100vh - #{$header-icon-bar-height + $header-icon-bar-border-bottom});
      .progress-bar-body {
        position: absolute;
        z-index: 9999999999;
        top: 40%;
        left: 50%;
      }
      .background-when-progress{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10000000;
        background: rgb(0, 0, 0);
        opacity: 0.4;
      }
      .scroll-bar {
        padding: 0 0.5rem;
        height: 100%;
        max-height: 100%;
        .el-scrollbar {
          height: 100%!important;
          overflow-x: hidden;
        }
        .list {
          max-height: calc(100vh - #{$header-icon-bar-height + $header-icon-bar-border-bottom} - 50px);
          .style-component {
            width: 100%;
            padding:15px 20px
          }
        }
      }
    }
  }
}
#dropdown-user-info {
  top: -2px!important;
}

#advance:hover > .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  content: none;
}

#advance > .dropdown-toggle:active {
  pointer-events: none;
}
