<template>
  <div class="c-wrapper c-fixed-components">
    <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
      <div
        class="header-icon c-subheader background-header-acc-dropdown d-flex align-items-center justify-content-between position-relative">
        <div class="mobile-menu">
          <span @click="onChangeMenuContent"><i class="fas fa-bars icon-toggle-menu"></i></span>
        </div>
        <div class="logo-image">
<!--          <img src="../../../assets/image/logo-siten.svg" class="logo-header">-->
        </div>
        <ul class="c-header-nav">
          <li class="c-header-nav-item dropdown show">
            <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="true">
              <div class="c-avatar"><img class="c-avatar-img"
                                         :src="(currentUser.imageAvatarName) ? `http://localhost:8080/avatar/${currentUser.imageAvatarName}`: require('../../../assets/image/user.png')">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right pt-0" id="dropdown-user-info">
              <div
                class="info-user pt-0 pb-1 col-md-12 d-flex background-header-acc-dropdown justify-content-center align-items-center">
                <div class="w-25">
                  <img
                    :src="(currentUser.imageAvatarName) ? `http://localhost:8080/avatar/${currentUser.imageAvatarName}`: require('../../../assets/image/user.png')"
                    class="img-avatar"
                    width="50"
                  />
                </div>
                <div class="w-75">
                  <div class="text-info w-100 pt-2">{{ currentUser.firstName }}</div>
                  <div class="text-muted w-100">{{
                      currentUser.roles.includes("Admin system") ? "Quản trị hệ thống" :
                        currentUser.roles.includes("Admin") ? "Quản trị viên" : "Người dùng"
                    }}
                  </div>
                </div>
              </div>
              <b-row>
                <b-col md="12" class="pl-2">
                  <div class="pt-2 pb-1 cursor-pointer" @click="logout()"><i class="cil-exit-to-app icon mr-2"></i><span
                    class="w-100 text-black-50">Đăng xuất</span></div>
                </b-col>
              </b-row>
            </div>
          </li>
        </ul>
      </div>
      <b-row v-if="isShowMenuContent" class="w-100">
        <div class="mobile-menu-content">
          <ul class="list-nav">
            <li v-for="item in navigationList" :key="item.url">
              <router-link class="item-nav" :to="item.url" :id="item.nameKey">
                <i :class="item.icon +' nav-icon'" v-if="checkRoleUser(item.meta.allowAccess)"></i>{{ item.nameKey }}
              </router-link>
            </li>
          </ul>
        </div>
        <!--<div class="mobile-menu-content">-->
        <!--<ul class="list-nav">-->
        <!--<li>-->
        <!--<a :class="navName === 'live' ? 'nav-item mobile-nav-active' :'nav-item'">Live</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a :class="navName === 'detail' ? 'nav-item mobile-nav-active' :'nav-item'">Detail</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a :class="navName === 'Search' ? 'nav-item mobile-nav-active' :'nav-item'">Search</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a :class="navName === 'Statistics' ? 'nav-item mobile-nav-active' :'nav-item'">Statistics</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a :class="navName === 'dashboard' ? 'nav-item mobile-nav-active' :'nav-item'">Dashboard-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a :class="navName === 'Category' ? 'nav-item mobile-nav-active' :'nav-item'">Master data-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
      </b-row>
    </header>
    <div class="w-100 main-container">
      <div class="navigation-list">
        <ul>
          <li v-for="item in navigationList" :key="item.url">
            <router-link :class="isActiveLink(item.url) ? 'item-nav navigation-active' : 'item-nav'" :to="item.url" :id="item.nameKey"  v-if="checkRoleUser(item.meta.allowAccess)">
              <i :class="item.icon +' nav-icon'"></i>{{ item.nameKey }}
            </router-link>
          </li>
        </ul>
      </div>
      <div class="main-content">
        <div class="card custom-card">
          <div class="card-header">
            <div class="header-content">{{ navigationName }}</div>
          </div>
          <div class="card-body" id="body-content">
            <div class="scroll-bar">
              <el-scrollbar wrap-class="list" view-class="view-box" :native="false">
                <div class="style-component">
                  <router-view @componentName="getComponentName" />
                </div>
              </el-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-row :class="isShowMenuContent ? '': 'd-none'">
      <div class="background-close" id="outSide"></div>
    </b-row>
  </div>
</template>
<script lang="ts" src="./DefaultContainer.ts"/>
<link type="scss" src="./DefaultContainer.scss"/>
