<template>
  <div>
    <b-row class="d-flex justify-content-between">
      <b-col md="4">
        <el-select v-model="classroomIdChoice" placeholder="Chọn lớp" class="w-100" @change="filterByClassroom" clearable>
          <el-option
            v-for="item in classrooms"
            :key="item.id"
            :label="item.name"
            :value="item.id">
          </el-option>
        </el-select>
      </b-col>
      <b-col md="4" class="pb-3 d-flex justify-content-end">
        <el-button type="danger" @click="studentAction('createOne')">Thêm Mới Một Thí Sinh</el-button>
        <el-button type="danger" @click="studentAction('createMany')">Thêm Mới Nhiều Thí Sinh</el-button>
      </b-col>
      <b-col md="12">
        <el-table v-loading="isLoadingForm" :data="students" border stripe max-height="550" style="width: 100%;">
          <el-table-column type="index" align="center" label="STT" width="70"></el-table-column>
          <el-table-column property="fullName" align="center" label="Họ Và Tên"></el-table-column>
          <el-table-column property="dateOfBirth" align="center" label="Ngày Sinh">
            <template slot-scope="scope">
              {{ formatDate(scope.row.dateOfBirth) }}
            </template>
          </el-table-column>
          <el-table-column property="classroom.name" align="center" label="Lớp"></el-table-column>
          <el-table-column width="250" label="Thao tác" align="center">
            <template slot-scope="scope">
              <el-button
                size="mini"
                v-b-tooltip.hover.right
                @click="studentAction('edit', scope)"
                title="Chỉnh sửa"
              >
                <i class="fas fa-pencil-alt"></i>
              </el-button>
              <el-button
                size="mini"
                v-b-tooltip.hover.left
                @click="studentAction('delete', scope)"
                title="Xóa"
              >
                <i class="fas fa-trash"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </b-col>
    </b-row>
    <el-dialog
      :title="studentActionName === 'create' ? 'Thêm Học Viên' : 'Sửa Học Viên'"
      :visible.sync="createStudentDialogVisible"
      width="40%">
      <b-row>
        <b-col md="12">
          <el-form
            :model="studentModel"
            :rules="studentValidate"
            ref="formCreate"
            label-width="100%"
            label-position="top"
            @submit.native.prevent
          >
            <b-row class="d-flex justify-content-center">
              <b-col md="8">
                <el-form-item label="Lớp:" :error="!validClassroom ? '* Bắt buộc nhập!' : ''" class="add-star-red">
                  <el-select v-model="classroomIdChoice2Create" placeholder="Chọn lớp" class="w-100" @change="() => {validClassroom = true}">
                    <el-option
                      v-for="item in classrooms"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                  </el-select>
                </el-form-item>
              </b-col>
            </b-row>
            <b-row class="d-flex justify-content-center">
              <b-col md="8">
                <el-form-item label="Họ và Tên" prop="fullName">
                  <el-input v-model="studentModel.fullName" placeholder="Họ và tên"/>
                </el-form-item>
              </b-col>
            </b-row>
            <b-row class="d-flex justify-content-center">
              <b-col md="8">
                <el-form-item label="Ngày Sinh" prop="dateOfBirth">
                  <el-date-picker
                    v-model="studentModel.dateOfBirth"
                    type="date"
                    format="dd/MM/yyyy"
                    placeholder="Chọn ngày sinh"
                    :picker-options="disableFeature">
                  </el-date-picker>
                </el-form-item>
              </b-col>
            </b-row>
          </el-form>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="createStudentDialogVisible = false">Hủy bỏ</el-button>
        <el-button type="danger" @click="onCreateOneStudentClicked">Xác nhận</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="scss">
.add-star-red .el-form-item__label::before {
  content: '*';
  color: #f56c6c;
  margin-right: 4px;
}
</style>
<script lang="ts" src="./StudentListPage.ts"/>
