<template>
  <div class="app flex-row align-items-center" id="login-page">
    <div class="container ">
      <b-row class="justify-content-center">
        <b-col md="9">
          <b-card-group>
            <b-card
              no-body
              class="text-white p-0 d-md-down-none"
              style="width:40%; background:rgb(184, 218, 222);"
            >
              <b-card-body class="text-center" style="position: relative;">
                <div class="bg-left">
                  <img  src="../../../../../src/assets/logo.png" alt />
                </div>
              </b-card-body>
            </b-card>
            <b-card no-body class="p-4">
              <b-card-body>
                <h3 class="text-center">Đăng nhập</h3>
                <el-form
                  :model="user"
                  :rules="userValid"
                  ref="formLogin"
                  label-width="100%"
                  label-position="top"
                  @submit.native.prevent
                >
                  <el-form-item id="login_id" label="Email" prop="email">
                    <el-input
                      prefix-icon="el-icon-user"
                      v-model.trim="user.email"
                      clearable
                    ></el-input>
                  </el-form-item>

                  <el-form-item label="Mật khẩu" prop="password">
                    <el-input
                      prefix-icon="el-icon-unlock"
                      v-model.trim="user.password"
                      show-password
                    ></el-input>
                  </el-form-item>
                  <el-form-item class="text-center">
                    <el-button class="ladda-button"
                               type="primary"
                               @click="onClickToLogin"
                               v-loading="isLoading"
                               native-type="submit"
                    >Đăng nhập</el-button>
                  </el-form-item>
                </el-form>
                <b-row>
                  <b-col md="12">Nếu bạn chưa có tài khoản, có thể <router-link to="/auth/register">đăng kí</router-link>!</b-col>
                </b-row>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script lang="ts" src="./Login.ts"/>
<lang type="scss" src="./Login.scss"/>
