<template>
  <div>
    <b-row>
      <b-col md="12" class="pb-3 d-flex justify-content-end">
        <el-button type="danger" @click="schoolAction('new')">Thêm trường mới</el-button>
      </b-col>
      <b-col md="12">
        <el-table v-loading="isLoadingForm" :data="dataTableSchools" border stripe max-height="550" style="width: 100%;">
          <el-table-column property="index" align="center" label="STT" width="70"></el-table-column>
          <el-table-column property="name" align="center" label="Tên trường"></el-table-column>
          <el-table-column property="address" align="center" label="Địa chỉ"></el-table-column>
          <el-table-column width="250" label="Thao tác" align="center">
            <template slot-scope="scope">
              <el-button
                size="mini"
                v-b-tooltip.hover.right
                @click="schoolAction('edit', scope.row.id)"
                title="Chỉnh sửa"
              >
                <i class="fas fa-pencil-alt"></i>
              </el-button>
              <el-button
                size="mini"
                v-b-tooltip.hover.left
                @click="schoolAction('delete', scope.row.id)"
                title="Xóa"
              >
                <i class="fas fa-trash"></i>
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </b-col>
    </b-row>
    <el-dialog
      :title="schoolActionName"
      :visible.sync="schoolDialogVisible"
      width="40%">
      <b-row>
        <b-col md="12">
          <el-form
            :model="schoolModel"
            :rules="schoolValidate"
            ref="schoolForm"
            label-width="100%"
            label-position="top"
            v-loading.fullscreen.lock="isLoading"
            @submit.native.prevent
          >
            <b-row>
              <b-col md="12">
                <el-form-item label="Tên trường" prop="name">
                  <el-input  v-model="schoolModel.name"></el-input>
                </el-form-item>
              </b-col>
            </b-row>
            <b-row>
              <b-col md="12">
                <el-form-item label="Địa chỉ" prop="address">
                  <el-input v-model="schoolModel.address"></el-input>
                </el-form-item>
              </b-col>
            </b-row>
          </el-form>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="onCancelClicked">Hủy bỏ</el-button>
        <el-button type="danger" @click="onCreateClassroomClicked">Xác nhận</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script lang="ts" src="./SchoolListPage.ts"/>
