<template>
  <div>
    <b-row>
      <b-col md="12" class="d-flex justify-content-center">
        <h3>{{pageName}}</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <el-form
          :model="schoolModel"
          :rules="schoolValidate"
          ref="csvcForm"
          label-width="100%"
          label-position="top"
          v-loading.fullscreen.lock="isLoading"
          @submit.native.prevent
        >
          <b-row class="d-flex justify-content-center">
            <b-col md="12">
              <b-row class="d-flex justify-content-center">
                <b-col md="5">
                  <el-form-item label="Tên trường" prop="name">
                    <el-input :disabled="pageType === 'view'" v-model="schoolModel.name"></el-input>
                  </el-form-item>
                </b-col>
              </b-row>
              <b-row class="d-flex justify-content-center">
                <b-col md="5">
                  <el-form-item label="Địa chỉ" prop="address">
                    <el-input :disabled="pageType === 'view'" v-model="schoolModel.address"></el-input>
                  </el-form-item>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="d-flex justify-content-center">
            <b-col md="3" class="d-flex justify-content-center">
              <el-button class="w-50" type="info" round @click="schoolAction('back')">Trở lại</el-button>
            </b-col>
            <b-col md="3" class="d-flex justify-content-center" v-if="pageType !== 'view'">
              <el-button class="w-50" type="danger" round @click="onSubmitCsvc">Xác nhận</el-button>
            </b-col>
          </b-row>
        </el-form>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts" src="./SchoolPage.ts"/>
<link type="scss" src="./SchoolPage.scss"/>
