table.dataTable thead th, table.dataTable thead td {
  border-bottom: 1px solid #dee2e6;
}

table.table.table-striped.table-bordered.dataTable.no-footer.DTFC_Cloned {
  .odd {
    background: #f2f2f2 !important;
  }
}

#hot-display-license-info {
  display: none !important;
}

