// custom theme

//style default
.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.animated {
  animation-duration: 0s;
  // animation-fill-mode: both;
}

.main .container-fluid {
  padding: 5px;
}

button:focus {
  outline: none;
}

.btn-secondary {
  background-color: #f0f3f5;

  &:hover {
    background-color: #d9dbdc;
  }
}

.dropdown-menu {
  box-shadow: 1px 2px 5px #ccc;
}

.card-header {
  padding: 5px 15px!important;
  font-weight: 400;
  text-transform: uppercase;
}

.card-body {
  padding: 4px 4px 0 4px!important;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}
.bold-500 {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

//toast
#toast-container > div{
  opacity: 1 !important;
}
.toast-success {
  background-color: $colorSuccess !important;
}

.toast-error {
  background-color: $colorDanger !important;
}

.toast-info {
  background-color: $colorInfo !important;
}

.toast-warning {
  background-color: $colorWarning !important;
}

#nprogress .spinner {
  z-index: 9999999;
}
#nprogress .bar{
  z-index: 9999999;
  height: 3px;
}
#nprogress .bar {
  background: $colorSuccess !important;
}
#nprogress .spinner-icon {
  border-top-color:$colorSuccess !important;
  border-left-color:$colorSuccess !important;
}
img {
  max-width: 100%;
}
strong {
  font-weight: 500;
}
.scroll-y-60vh {
  max-height: 60vh;
  overflow-y: scroll;
}
.scroll-y-70vh {
  max-height: 70vh;
  overflow-y: scroll;
}
.scroll-y-80vh {
  max-height: 80vh;
  overflow-y: scroll;
}
.card-header-actions {
  button {
    padding: 3px 10px;
  }
}

.far {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-heading:before {
  content: "\f1dc";
}
.btn-outline-secondary {
  color: #606266;
}
.CodeMirror {
  height: 350px !important;
}

body {
  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #bbb;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    height: 5px;
  }
}
.bg-column {
  display: block;
  width: 100%;
  height: 24px;
}

.w-100{
  width: 100px;
}
.w-200{
  width: 200px;
}
.w-250{
  width: 250px;
}
.w-300{
  width: 300px;
}
.link {
  cursor: pointer;
  &:hover{
    text-decoration: underline !important;
  }
}

.el-dialog__header {
  border-bottom: 1px solid #dcdfe6;
}
// .add_star span:nth-child(0)::before {
//   content: '*';
//   color: #F56C6C;
//   margin-right: 4px;
// }
