body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .el-form--label-top label {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .row {
    margin: 0;
  }
  .el-table {
    z-index: 0;
  }
  .el-input__inner {
    padding: 0 10px;
  }
  //toast
  #toast-container > div{
    opacity: 1 !important;
  }
  .toast-success {
    background-color: $colorSuccess !important;
  }

  .toast-error {
    background-color: $colorDanger !important;
  }

  .toast-info {
    background-color: $colorInfo !important;
  }

  .toast-warning {
    background-color: $colorWarning !important;
  }

  .btn-toast {
    border-color: white;
    background-color: rgba(0,0,0,0) !important;
  }

  #nprogress .spinner {
    z-index: 9999999;
  }
  #nprogress .bar{
    z-index: 9999999;
    height: 3px;
  }
  #nprogress .bar {
    background: $colorSuccess !important;
  }
  #nprogress .spinner-icon {
    border-top-color:$colorSuccess !important;
    border-left-color:$colorSuccess !important;
  }
  button:focus {
    outline: 0 auto !important;
  }
  .el-date-editor {
    width: 100%!important;
  }
  .add-star-red .el-form-item__label::before {
    content: '*';
    color: #f56c6c;
    margin-right: 4px;
  }
}
