$colorPrimary: #009ad0;
$colorPrimaryActive: #008dbf;
$colorDanger: #f86c6b;
$colorSuccess: #4dbd74;
$colorWarning: #ffc107;
$colorInfo: #20a8d8;
$colorDark: #2f353a;
$colorLight: #fff;
$colorSecondary: #c8ced3;
$header-icon-bar-height:56px;
$header-menu-bar-height:56px;
$header-icon-bar-border-bottom:1px;
$card-header-custom:40px;
$padding-main-container:8px;
$height-body-content: calc(100vh - #{$header-icon-bar-height + $header-menu-bar-height + $padding-main-container + 8px});
