<template>
  <div class="home">
    <img alt="Vue logo" src="../../../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
  </div>
</template>

<script lang="ts" src="./Home.ts"></script>
<lang type="scss" src="./Home.scss"/>
