<template>
  <div>
    <b-row>
      <b-col md="12" class="d-flex justify-content-center">
        <h3>{{ pageName }}</h3>
      </b-col>
    </b-row>
    <b-row class="mt-4 d-flex justify-content-center" v-if="this.pageType !== 'view'">
      <b-col md="9" class="d-flex justify-content-end">
        <b-row>
          <b-col md="12">
            <el-button type="danger" @click="upLoadFileDialogVisible = true">Thêm Đáp Án Bằng File</el-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row class="mt-4 d-flex justify-content-center">
      <b-col md="9">
        <el-form
          :model="testModel"
          :rules="testValidation"
          ref="testForm"
          label-width="100%"
          label-position="top"
          v-loading.fullscreen.lock="isLoading"
          @submit.native.prevent
        >
          <b-row class="d-flex justify-content-center">
            <b-col md="12">
              <b-row class="d-flex justify-content-center">
                <b-col md="4">
                  <el-form-item label="Mã Đề Thi" class="add-star-red" :error="!validTestCode ? invalidCodeMessage : ''">
                    <el-input :disabled="pageType === 'view'" v-model="testModel.code" placeholder="Mã đề" @change="checkValidTestCode"></el-input>
                  </el-form-item>
                </b-col>
                <b-col md="4">
                  <el-form-item label="Môn Thi" prop="subject">
                    <el-input :disabled="pageType === 'view'" v-model="testModel.subject" placeholder="Tên môn thi"></el-input>
                  </el-form-item>
                </b-col>
                <b-col md="4">
                  <el-form-item label="Ngày Thi" prop="testDay" >
                    <el-date-picker :disabled="pageType === 'view'" format="dd/MM/yyyy" v-model="testModel.testDay" placeholder="Ngày thi"></el-date-picker>
                  </el-form-item>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="d-flex justify-content-center">
            <b-col md="12">
              <b-row class="d-flex justify-content-center">
                <b-col md="12">
                  <el-table v-loading="isLoading" :data="dataTableAnswers" border stripe max-height="550"
                            style="width: 100%;">
                    <el-table-column property="label" align="center" label="Câu Hỏi">
                      <template slot-scope="scope">
                        <span
                          :class="!isNotConstrainIndex(invalidQuestions, scope.row.index) ? 'color-red' : ''">{{ scope.row.index + 1}}</span>
                      </template>
                    </el-table-column>
                    <el-table-column align="center" label="A">
                      <template slot-scope="scope">
                        <el-radio v-model="scope.row.answer" class="my-custom-radio" label="A" :disabled="pageType === 'view'" ></el-radio>
                      </template>
                    </el-table-column>
                    <el-table-column align="center" label="B">
                      <template slot-scope="scope">
                        <el-radio v-model="scope.row.answer" class="my-custom-radio" label="B" :disabled="pageType === 'view'" >&nbsp;</el-radio>
                      </template>
                    </el-table-column>
                    <el-table-column align="center" label="C">
                      <template slot-scope="scope">
                        <el-radio v-model="scope.row.answer" class="my-custom-radio" label="C" :disabled="pageType === 'view'" >&nbsp;</el-radio>
                      </template>
                    </el-table-column>
                    <el-table-column align="center" label="D">
                      <template slot-scope="scope">
                        <el-radio v-model="scope.row.answer" class="my-custom-radio" label="D" :disabled="pageType === 'view'" >&nbsp;</el-radio>
                      </template>
                    </el-table-column>
                  </el-table>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="d-flex justify-content-center mt-4">
            <b-col md="3" class="d-flex justify-content-center">
              <el-button class="w-50" type="info" round @click="$router.back();">Trở lại</el-button>
            </b-col>
            <b-col md="3" class="d-flex justify-content-center" v-if="pageType !== 'view'">
              <el-button class="w-50" type="danger" round @click="onCreateTestClicked">Xác nhận</el-button>
            </b-col>
          </b-row>
        </el-form>
      </b-col>
    </b-row>
    <el-dialog
      title="Tích Đáp Án Bài Kiểm Tra Bằng File"
      :visible.sync="upLoadFileDialogVisible"
      width="40%">
      <b-row>
        <b-col md="12">
          <p>Nếu bạn chưa có file: <span @click="downloadFileUpload"
                                         style="color: blue; font-style: italic; font-weight: bold; cursor: pointer">Tải tại đây</span>
          </p>
        </b-col>
        <b-col md="12">
          <el-upload
            :class="files.length !== 0 ? 'hide-upload' : 'upload-demo w-100'"
            drag
            action=""
            accept=".xlsx,.xls"
            v-model="fileUpload"
            :file-list="files"
            :on-remove="onRemoveFile"
            :auto-upload="false"
            :on-change="file => onUploadChange(file)">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Kéo file hoặc <em>Click để tải lên</em></div>
          </el-upload>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="upLoadFileDialogVisible = false">Hủy bỏ</el-button>
        <el-button type="danger" @click="onUploadFileClicked">Xác nhận</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script lang="ts" src="./TestPage.ts"/>
<link type="scss" src="./TestPage.scss"/>
