.my-custom-radio {
  .el-radio__label {
    display: none;
  }
  span{
    width: 30px;
    height: 30px;
  }
  span:after  {
    width: 10px;
    height: 10px;
    background: white!important;
  }
  .is-checked {
    span {
      background-color: #409EFF !important;
    }
  }
}
.el-upload {
  width: 100%;
  .el-upload-dragger {
    width: 100%;
  }
}
.color-red {
  color: red;
}
.hide-upload {
  .el-upload-dragger {
    display: none;
  }
}
