<template>
  <div>
    <b-row>
      <b-col md="12" class="d-flex justify-content-center mb-3">
        <h3>{{ pageName }}</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <el-form
          :model="studentsModel"
          :rules="studentsValidate"
          ref="studentsForm"
          label-width="20%"
          label-position="left"
          v-loading.fullscreen.lock="isLoading"
          @submit.native.prevent
        >
          <b-row class="d-flex justify-content-center mb-2">
            <b-col md="10">
              <b-row class="d-flex justify-content-between">
                <b-col md="4">
                  <el-form-item label="Lớp:" prop="classroomId">
                    <el-select v-model="studentsModel.classroomId" placeholder="Chọn lớp" class="w-100">
                      <el-option
                        v-for="item in classrooms"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                </b-col>
                <b-col md="4" class="pb-3 d-flex justify-content-end">
                  <el-button type="danger" @click="createStudentDialogVisible = true">Thêm Một</el-button>
                  <el-button type="danger" @click="upLoadFileDialogVisible = true">Thêm Nhiều</el-button>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row class="d-flex justify-content-center">
            <b-col md="10">
              <el-table ref="tableStudents" v-loading="isLoading" :data="studentsModel.students" border stripe max-height="550"
                        style="width: 100%;">
                <el-table-column type="index" align="center" label="STT" width="70">
                  <template slot-scope="scope">
                        <span
                          :class="studentsInvalid['student_' + (scope.$index)] ? 'color-red' : 'color-black'">{{ scope.$index + 1}}</span>
                  </template>
                </el-table-column>
                <el-table-column align="center" label="Họ Và Tên">
                  <template slot-scope="scope">
                        <span
                          :class="studentsInvalid['student_' + (scope.$index)] ? 'color-red' : ''">{{ scope.row.fullName}}</span>
                  </template>
                </el-table-column>
                <el-table-column property="dateOfBirth" align="center" label="Ngày Sinh">
                  <template slot-scope="scope">
                    <span
                      :class="studentsInvalid['student_' + (scope.$index)] ? 'color-red' : ''">
                      {{ formatDate(scope.row.dateOfBirth) }}
                    </span>
                  </template>
                </el-table-column>
                <el-table-column width="250" label="Thao tác" align="center">
                  <template slot-scope="scope">
                    <el-button
                      size="mini"
                      v-b-tooltip.hover.right
                      @click="studentAction('edit', scope)"
                      title="Chỉnh sửa"
                    >
                      <i class="fas fa-pencil-alt"></i>
                    </el-button>
                    <el-button
                      size="mini"
                      v-b-tooltip.hover.left
                      @click="studentAction('delete', scope)"
                      title="Xóa"
                    >
                      <i class="fas fa-trash"></i>
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
            </b-col>
          </b-row>
          <b-row class="d-flex justify-content-center mt-3">
            <b-col md="3" class="d-flex justify-content-center">
              <el-button class="w-50" type="info" round @click="$router.back();">Trở lại</el-button>
            </b-col>
            <b-col md="3" class="d-flex justify-content-center" v-if="pageType !== 'view'">
              <el-button class="w-50" type="warning" round @click="onRefreshModelClicked">Làm mới</el-button>
            </b-col>
            <b-col md="3" class="d-flex justify-content-center" v-if="pageType !== 'view'">
              <el-button class="w-50" type="danger" round @click="onSubmitStudentsClicked">Xác nhận</el-button>
            </b-col>
          </b-row>
        </el-form>
      </b-col>
    </b-row>
    <el-dialog
      title="Thêm Thí Sinh Bằng File"
      :visible.sync="upLoadFileDialogVisible"
      width="40%">
      <b-row>
        <b-col md="12">
          <p>Nếu bạn chưa có file: <span @click="downloadFileUpload"
                                         style="color: blue; font-style: italic; font-weight: bold; cursor: pointer">Tải tại đây</span>
          </p>
        </b-col>
        <b-col md="12">
          <el-upload
            :class="files.length !== 0 ? 'hide-upload' : 'upload-demo w-100'"
            drag
            action=""
            accept=".xlsx,.xls"
            v-model="fileUpload"
            :file-list="files"
            :on-remove="onRemoveFile"
            :auto-upload="false"
            :on-change="file => onUploadChange(file)">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">Kéo file hoặc <em>Click để tải lên</em></div>
          </el-upload>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="upLoadFileDialogVisible = false">Hủy bỏ</el-button>
        <el-button type="danger" @click="onUploadFileClicked">Xác nhận</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :title="studentActionName === 'create' ? 'Thêm Học Viên' : 'Sửa Học Viên'"
      :visible.sync="createStudentDialogVisible"
      width="40%">
      <b-row>
        <b-col md="12">
          <el-form
            :model="studentModel"
            :rules="studentValidate"
            ref="formCreate"
            label-width="100%"
            label-position="top"
            @submit.native.prevent
          >
            <b-row class="d-flex justify-content-center">
              <b-col md="8">
                <el-form-item label="Họ và Tên" prop="fullName">
                  <el-input v-model="studentModel.fullName" placeholder="Họ và tên"/>
                </el-form-item>
              </b-col>
            </b-row>
            <b-row class="d-flex justify-content-center">
              <b-col md="8">
                <el-form-item label="Ngày Sinh" prop="dateOfBirth">
                  <el-date-picker
                    v-model="studentModel.dateOfBirth"
                    type="date"
                    format="DD/MM/yyyy"
                    placeholder="Chọn ngày sinh"
                    :picker-options="disableFeature">
                  </el-date-picker>
                </el-form-item>
              </b-col>
            </b-row>
          </el-form>
        </b-col>
      </b-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="createStudentDialogVisible = false">Hủy bỏ</el-button>
        <el-button type="danger" @click="onCreateOneStudentClicked">Xác nhận</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="scss">
.hide-upload {
  .el-upload-dragger {
    display: none;
  }
}
.color-red {
  color: red;
}
.color-black {
  color: black;
}
</style>
<script lang="ts" src="./StudentPage.ts"/>
